# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual env
.venv/
venv/

# macOS cruft
.DS_Store

# Env / secrets
.env
.env.*
.env.save

# Editor stuff
.idea/
.vscode/

# Byte-compiled / cached
*.sqlite3

# Test / coverage
.coverage
htmlcov/